Repository Arquisoft/wiq_es04a, pull requests merged in 2024-03, with the labels that each got.

#101 Merging webapp service into develop branch
  gatewayservice/gateway-service.js
  webapp/public/defaultFavicon.ico
  webapp/public/favicon.ico
  webapp/public/gameImg/foto0.jpg
  webapp/public/gameImg/foto3.jpg
  webapp/public/gameImg/foto4.jpg
  webapp/public/gameImg/foto5.jpg
  webapp/public/gameImg/foto6.jpg
  webapp/public/gameImg/foto7.jpg
  webapp/public/grey_logo.png
  webapp/public/hurta2.jpg
  webapp/public/hurtado.jpg
  webapp/public/possibleFavicon.ico
  webapp/public/possibleIcon.jpg
  webapp/public/sounds/success_sound.mp3
  webapp/public/sounds/wrong_sound.mp3
  webapp/src/App.js
  webapp/src/components/Footer.js
  webapp/src/components/ImageSlider.js
  webapp/src/components/NavBar.js
  webapp/src/data/gameInfo.json
  webapp/src/index.css
  webapp/src/pages/AddUser.js
  webapp/src/pages/Game.js
  webapp/src/pages/GroupCreate.js
  webapp/src/pages/GroupList.js
  webapp/src/pages/Home.js
  webapp/src/pages/Instructions.js
Labels: webapp🌐

#109 Adding session
  gatewayservice/gateway-service.js
  users/models/user-model.js
  users/routes/group-routes.js
  users/routes/user-routes.js
  webapp/src/SessionContext.js
  webapp/src/components/NavBar.js
  webapp/src/pages/Game.js
  webapp/src/pages/GroupCreate.js
  webapp/src/pages/GroupList.js
  webapp/src/pages/Home.js
Labels: users service👨🏼

#110 Merge from questions to develop
  .env
  .github/workflows/build.yml
  .github/workflows/release.yml
  .gitignore
  docker-compose.yml
  gatewayservice/gateway-service.js
  questions/Dockerfile
  questions/index.js
  questions/investigation_wikidata/bulkNodejs.js
  questions/investigation_wikidata/prueba.js
  questions/investigation_wikidata/queries.js
  questions/investigation_wikidata/questions.json
  questions/investigation_wikidata/readFromFile.js
  questions/package-lock.json
  questions/package.json
  questions/routes/question-routes.js
  questions/services/question-data-model.js
  questions/services/question-data-service.js
  questions/services/wikidata-service.js
  questions/utils/generalQuestions.js
  questions/utils/question.json
  webapp/src/pages/Game.js
Labels: release✅

#133 Merging master into develop to start deliverable 3.
  .env
  .github/workflows/release.yml
  README.md
  docker-compose.yml
  gatewayservice/gateway-service.js
  questions/Dockerfile
  questions/package-lock.json
  questions/package.json
  questions/routes/question-routes.js
  questions/services/question-data-service.js
  users/models/user-model.js
  webapp/.dockerignore
  webapp/.env
  webapp/Dockerfile
  webapp/e2e/test-environment-setup.js
  webapp/src/pages/AddUser.js
  webapp/src/pages/Game.js
  webapp/src/pages/Login.js
Labels: project📦

#146 Add question countdown timer and current game question history
  webapp/package-lock.json
  webapp/package.json
  webapp/src/pages/Game.js
Labels: webapp🌐

#152 Develop teresa
  package-lock.json
  package.json
  questions/__tests/question-service.test.js
  questions/package-lock.json
  questions/package.json
  questions/routes/question-routes.js
  questions/services/question-data-model.js
  questions/services/question-data-service.js
  questions/services/wikidata-service.js
  questions/utils/question.json
  webapp/e2e/features/game.feature
  webapp/e2e/steps/game.steps.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/__tests__/Game.test.js
  webapp/src/__tests__/Homepage.test.js
  webapp/src/pages/Game.js
  webapp/src/pages/Homepage.js
Labels: webapp🌐, question service❔, testing🔧

#154 Added in-memory database for Users testing
  .env
  gatewayservice/gateway-service.js
  users/__tests/routes/statistics-routes.test.js
  users/__tests/routes/user-routes.test.js
  users/__tests/services/auth-service.test.js
  users/__tests/services/statistics-api.test.js
  users/__tests/services/user-service.test.js
  users/models/user-model.js
  users/package-lock.json
  users/package.json
  users/routes/statistics-routes.js
  users/routes/user-routes.js
  users/services/statistics-api.js
Labels: users service👨🏼, testing🔧

#156 Integrating the groups functionality.
  gatewayservice/gateway-service.js
  users/index.js
  users/models/user-model.js
  users/routes/group-routes.js
  users/services/group-api.js
  webapp/src/App.js
  webapp/src/components/Footer.js
  webapp/src/components/NavBar.js
  webapp/src/pages/GroupCreate.js
  webapp/src/pages/GroupDetails.js
  webapp/src/pages/GroupList.js
  webapp/src/pages/Groups.js
Labels: users service👨🏼, project📦

#157 Add tests for questions and fix old question tests
  questions/__tests/question-service.test.js
  questions/services/question-data-service.js
  users/package-lock.json
Labels: question service❔, testing🔧

#160 Integrating Develop-Webapp into Develop
  webapp/package-lock.json
  webapp/package.json
  webapp/public/gameImg/foto0.png
  webapp/public/gameImg/foto1.jpg
  webapp/public/gameImg/foto2.jpg
  webapp/public/gameImg/foto2.png
  webapp/public/gameImg/foto3.jpg
  webapp/public/gameImg/foto4.jpg
  webapp/src/components/ParticleBg.js
  webapp/src/components/Photo.js
  webapp/src/data/gameInfo.json
  webapp/src/data/particles.json
  webapp/src/pages/Homepage.js
  webapp/src/pages/Instructions.js
Labels: webapp🌐

#161 Fixed npm deploy bug
  package.json
Labels: bug🪲

#162 Added changes in statistics and user registration
  questions/index.js
  questions/routes/question-routes-api.js
  users/__tests/routes/statistics-routes.test.js
  users/__tests/routes/user-routes.test.js
  users/__tests/services/statistics-api.test.js
  users/routes/auth-routes.js
  users/routes/group-routes-api.js
  users/routes/group-routes.js
  users/routes/statistics-routes-api.js
  users/routes/statistics-routes.js
  users/routes/user-routes-api.js
  users/routes/user-routes.js
  users/services/authVerifyMiddleWare.js
  users/services/user-model.js
  webapp/src/pages/AddUser.js
  webapp/src/pages/Game.js
  webapp/src/pages/Statistics.js
Labels: bug🪲, users service👨🏼, project📦

#167 Adding question tests and API doc
  .github/workflows/build.yml
  package-lock.json
  questions/__tests/routes/question-routes.test.js
  questions/__tests/services/question-service.test.js
  questions/package-lock.json
  questions/package.json
  questions/routes/question-routes-api.js
  questions/services/question-data-service.js
  webapp/e2e/steps/game.steps.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/__tests__/Game.test.js
  webapp/src/__tests__/Homepage.test.js
  webapp/src/components/Footer.js
Labels: webapp🌐, question service❔, testing🔧

#170 User API routes relocated, changed gateway and some new tests
  gatewayservice/gateway-service.js
  users/__tests/services/group-api.test.js
  users/__tests/services/user-api.test.js
  users/index.js
  users/routes/auth-routes.js
  users/routes/group-routes-api.js
  users/routes/group-routes.js
  users/routes/statistics-routes-api.js
  users/routes/statistics-routes.js
  users/routes/user-routes-api.js
  users/routes/user-routes.js
  webapp/src/pages/Login.js
Labels: users service👨🏼, gateway service🚪

#171 Implementation of multiplayer game mode
  docker-compose.yml
  multiplayer/Dockerfile
  multiplayer/index.js
  multiplayer/package-lock.json
  multiplayer/package.json
  webapp/package-lock.json
  webapp/package.json
  webapp/src/App.js
  webapp/src/data/gameInfo.json
  webapp/src/pages/Homepage.js
  webapp/src/pages/MultiplayerGame.js
  webapp/src/pages/MultiplayerRoom.js
Labels: enhancement🆕, webapp🌐

#176 Added Users API DOC
  gatewayservice/gateway-service.js
  questions/__tests/routes/question-routes.test.js
  questions/index.js
  questions/routes/question-routes.js
  users/__tests/routes/statistics-routes.test.js
  users/__tests/routes/user-routes.test.js
  users/__tests/services/group-api.test.js
  users/__tests/services/statistics-api.test.js
  users/__tests/services/user-api.test.js
  users/routes/user-routes.js
  webapp/src/components/Footer.js
  webapp/src/pages/Game.js
  webapp/src/pages/Statistics.js
Labels: documentation📖, webapp🌐, testing🔧

#198 Improving questions test coverage
  questions/__tests/routes/question-routes.test.js
  questions/__tests/services/question-generation-service.test.js
  questions/__tests/services/wikidata-service.test.js
  questions/__tests/utils/generalQuestions.test.js
  questions/investigation_wikidata/bulkNodejs.js
  questions/investigation_wikidata/prueba.js
  questions/investigation_wikidata/queries.js
  questions/investigation_wikidata/questions.json
  questions/investigation_wikidata/readFromFile.js
  questions/routes/question-routes.js
  questions/services/generate-questions-service.js
  webapp/src/__tests__/Homepage.test.js
  webapp/src/pages/Homepage.js
Labels: webapp🌐, question service❔, testing🔧
