Repository Arquisoft/wiq_es04a, pull requests merged in 2024-04, with the labels that each got.

#202 Added e2e login test
  webapp/e2e/features/login-form.feature
  webapp/e2e/steps/login-form.steps.js
  webapp/src/pages/Login.js
Labels: testing🔧

#206 Added several users and groups tests
  base_de_datos_de_usuarios.session.sql
  gatewayservice/gateway-service.test.js
  users/__tests/routes/user-routes.test.js
  users/routes/user-routes.js
Labels: users service👨🏼, testing🔧

#209 Integrating webapp with new Mainpage
  webapp/public/Fondo.png
  webapp/public/FondoR.png
  webapp/public/JordiCartoon.png
  webapp/src/components/ParticleBg.js
  webapp/src/pages/Home.js
  webapp/src/pages/Homepage.js
  webapp/src/pages/Statistics.js
Labels: webapp🌐

#212 Improved multiplayer quality and fixed bugs about it.
  .github/workflows/build.yml
  .github/workflows/release.yml
  multiplayer/index.js
  questions/routes/question-routes.js
  webapp/e2e/features/game.feature
  webapp/e2e/steps/game.steps.js
  webapp/src/pages/Game.js
  webapp/src/pages/MultiplayerGame.js
  webapp/src/pages/MultiplayerRoom.js
Labels: bug🪲, enhancement🆕

#214 Added Statistics WebApp tests
  gatewayservice/gateway-service.js
  users/routes/user-routes.js
  users/services/user-model.js
  webapp/src/__tests__/pages/Statistics.test.js
  webapp/src/pages/Game.js
Labels: testing🔧

#215 Added tests for NavBar and Footer components
  webapp/src/__tests__/components/Footer.test.js
  webapp/src/__tests__/components/NavBar.test.js
  webapp/src/components/NavBar.js
Labels: webapp🌐, testing🔧

#216 Added Tests for Instructions and Particles
  webapp/src/__tests__/pages/Instructions.test.js
  webapp/src/__tests__/pages/ParticleBg.Test.js
  webapp/src/components/ParticleBg.js
  webapp/src/pages/Home.js
  webapp/src/pages/Homepage.js
Labels: webapp🌐

#217 Added Questions Record
  gatewayservice/gateway-service.js
  gatewayservice/gateway-service.test.js
  users/__tests/routes/user-routes.test.js
  users/routes/user-routes.js
  users/services/user-model.js
  webapp/src/pages/Game.js
Labels: users service👨🏼, webapp🌐

#223 Added test for Home.js
  webapp/src/__tests__/pages/Home.test.js
Labels: webapp🌐, testing🔧

#219 Questions Record
  gatewayservice/gateway-service.js
  gatewayservice/gateway-service.test.js
  users/__tests/routes/user-routes.test.js
  users/routes/user-routes.js
  webapp/src/pages/Game.js
Labels: users service👨🏼, testing🔧

#224 Add tests to multiplayer room
  .github/workflows/build.yml
  webapp/package-lock.json
  webapp/src/__tests__/pages/MultiplayerRoom.test.js
  webapp/src/pages/MultiplayerRoom.js
Labels: testing🔧

#227 Test to multiplayer game
  webapp/e2e/test-environment-setup.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/__tests__/pages/MultiplayerGame.test.js
  webapp/src/pages/MultiplayerGame.js
Labels: testing🔧

#234 Adding more tests and other little modifications
  .github/workflows/build.yml
  .github/workflows/release.yml
  questions/__tests/services/question-generation-service.test.js
  questions/__tests/services/wikidata-service.test.js
  questions/services/wikidata-service.js
  webapp/e2e/features/game.feature
  webapp/e2e/steps/game.steps.js
  webapp/e2e/test-environment-setup.js
  webapp/src/__tests__/pages/Game.test.js
  webapp/src/pages/Game.js
Labels: webapp🌐, question service❔, testing🔧

#243 Update readme
  README.md
Labels: documentation📖

#244 Implemented agreed thresholds for questions
  questions/__tests/routes/question-routes.test.js
  questions/routes/question-routes.js
Labels: question service❔

#270 Internationalization of WebApp Elements
  webapp/package-lock.json
  webapp/package.json
  webapp/src/App.js
  webapp/src/__tests__/App.test.js
  webapp/src/__tests__/components/Footer.test.js
  webapp/src/__tests__/components/NavBar.test.js
  webapp/src/__tests__/pages/Game.test.js
  webapp/src/__tests__/pages/GroupDetails.test.js
  webapp/src/__tests__/pages/Groups.test.js
  webapp/src/__tests__/pages/Home.test.js
  webapp/src/__tests__/pages/Login.test.js
  webapp/src/__tests__/pages/MultiplayerGame.test.js
  webapp/src/__tests__/pages/MultiplayerRoom.test.js
  webapp/src/__tests__/pages/Register.test.js
  webapp/src/__tests__/pages/Statistics.test.js
  webapp/src/components/Footer.js
  webapp/src/components/NavBar.js
  webapp/src/index.js
  webapp/src/localize/en.json
  webapp/src/localize/es.json
  webapp/src/localize/fr.json
  webapp/src/localize/i18n.js
  webapp/src/pages/Game.js
  webapp/src/pages/GroupDetails.js
  webapp/src/pages/Groups.js
  webapp/src/pages/Home.js
  webapp/src/pages/Login.js
  webapp/src/pages/MultiplayerGame.js
  webapp/src/pages/MultiplayerRoom.js
  webapp/src/pages/Ranking.js
  webapp/src/pages/Register.js
  webapp/src/pages/Statistics.js
Labels: enhancement🆕, webapp🌐

#268 Create an android app for the project
  android-apk/wiq-infinite-quest/.gitignore
  android-apk/wiq-infinite-quest/App.js
  android-apk/wiq-infinite-quest/app.json
  android-apk/wiq-infinite-quest/assets/adaptive-icon.png
  android-apk/wiq-infinite-quest/assets/favicon.png
  android-apk/wiq-infinite-quest/assets/icon.png
  android-apk/wiq-infinite-quest/assets/splash.png
  android-apk/wiq-infinite-quest/babel.config.js
  android-apk/wiq-infinite-quest/eas.json
  android-apk/wiq-infinite-quest/package-lock.json
  android-apk/wiq-infinite-quest/package.json
Labels: enhancement🆕

#272 Improvements to multiplayer system
  multiplayer/index.js
  webapp/public/gameImg/online-photo.jpg
  webapp/src/__tests__/pages/MultiplayerRoom.test.js
  webapp/src/data/gameInfo.json
  webapp/src/localize/en.json
  webapp/src/localize/es.json
  webapp/src/localize/fr.json
  webapp/src/pages/MultiplayerGame.js
  webapp/src/pages/MultiplayerRoom.js
Labels: bug🪲, webapp🌐

#277 Make chat to multiplayer room and tests to it.
  multiplayer/index.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/__tests__/components/Chat.test.js
  webapp/src/components/Chat.js
  webapp/src/localize/en.json
  webapp/src/localize/es.json
  webapp/src/localize/fr.json
  webapp/src/pages/MultiplayerRoom.js
Labels: enhancement🆕, testing🔧

#280 Implemented url security + not found page
  webapp/public/index.html
  webapp/src/App.js
  webapp/src/PrivateRoute.js
  webapp/src/__tests__/pages/Homepage.test.js
  webapp/src/data/gameInfo.json
  webapp/src/localize/en.json
  webapp/src/localize/es.json
  webapp/src/localize/fr.json
  webapp/src/pages/Homepage.js
  webapp/src/pages/MultiplayerGame.js
  webapp/src/pages/NotFound.js
Labels: enhancement🆕, project📦, Security 🛡️

#281 Improved style and applied agreed functionality for pause/resume
  webapp/src/__tests__/pages/Game.test.js
  webapp/src/pages/Game.js
  webapp/src/pages/Instructions.js
Labels: webapp🌐

#282 Adjusted statistics update to cover multiple games and implementation of the corresponding tests
  gatewayservice/gateway-service.js
  users/__tests/routes/user-routes.test.js
  users/routes/user-routes.js
  users/services/user-model.js
  webapp/src/__tests__/pages/Statistics.test.js
  webapp/src/pages/DiscoveringCitiesGame.js
  webapp/src/pages/Game.js
  webapp/src/pages/MultiplayerGame.js
  webapp/src/pages/Statistics.js
  webapp/src/pages/TheChallengeGame.js
Labels: webapp🌐, project📦, testing🔧

#298 Implemented Warm Question Game
  webapp/src/App.js
  webapp/src/__tests__/pages/Homepage.test.js
  webapp/src/__tests__/pages/Statistics.test.js
  webapp/src/__tests__/pages/WarmQuestionGame.test.js
  webapp/src/localize/en.json
  webapp/src/localize/es.json
  webapp/src/localize/fr.json
  webapp/src/pages/Homepage.js
  webapp/src/pages/Statistics.js
  webapp/src/pages/WarmQuestionGame.js
Labels: webapp🌐, testing🔧

#300 Questions internationalized according to language in webapp
  gatewayservice/__tests/gateway-service.test.js
  gatewayservice/gateway-service.js
  questions/__tests/routes/question-routes.test.js
  questions/__tests/services/question-service.test.js
  questions/routes/question-routes.js
  questions/services/generate-questions-service.js
  questions/services/question-data-service.js
  questions/services/wikidata-service.js
  questions/utils/question.json
  webapp/src/__tests__/pages/DiscoveringCitiesGame.test.js
  webapp/src/__tests__/pages/Game.test.js
  webapp/src/__tests__/pages/TheChallengeGame.test.js
  webapp/src/__tests__/pages/WarmQuestionGame.test.js
  webapp/src/__tests__/pages/WiseMenStackGame.test.js
  webapp/src/pages/DiscoveringCitiesGame.js
  webapp/src/pages/Game.js
  webapp/src/pages/MultiplayerGame.js
  webapp/src/pages/TheChallengeGame.js
  webapp/src/pages/WarmQuestionGame.js
  webapp/src/pages/WiseMenStackGame.js
Labels: enhancement🆕, question service❔

#301 Extended groups and including rankings and profile functionalities.
  gatewayservice/__tests/gateway-service.test.js
  gatewayservice/gateway-service.js
  gatewayservice/package-lock.json
  users/__tests/routes/user-routes.test.js
  users/routes/user-routes.js
  users/services/user-model.js
  webapp/package-lock.json
  webapp/package.json
  webapp/public/and1naIcon.jpg
  webapp/public/barreroIcon.jpg
  webapp/public/bertinIcon.jpg
  webapp/public/hugoIcon.jpg
  webapp/public/samuIcon.jpg
  webapp/public/teresaIcon.jpg
  webapp/public/wiffoIcon.jpg
  webapp/src/App.js
  webapp/src/__tests__/pages/DiscoveringCitiesGame.test.js
  webapp/src/__tests__/pages/Game.test.js
  webapp/src/__tests__/pages/GroupDetails.test.js
  webapp/src/__tests__/pages/Groups.test.js
  webapp/src/__tests__/pages/Profile.test.js
  webapp/src/__tests__/pages/Ranking.test.js
  webapp/src/__tests__/pages/Register.test.js
  webapp/src/__tests__/pages/Statistics.test.js
  webapp/src/__tests__/pages/TheChallengeGame.test.js
  webapp/src/__tests__/pages/WarmQuestionGame.test.js
  webapp/src/__tests__/pages/WiseMenStackGame.test.js
  webapp/src/components/NavBar.js
  webapp/src/data/icons.js
  webapp/src/localize/en.json
  webapp/src/localize/es.json
  webapp/src/localize/fr.json
  webapp/src/pages/DiscoveringCitiesGame.js
  webapp/src/pages/Game.js
  webapp/src/pages/GroupDetails.js
  webapp/src/pages/Groups.js
  webapp/src/pages/MultiplayerGame.js
  webapp/src/pages/Profile.js
  webapp/src/pages/Ranking.js
  webapp/src/pages/Register.js
  webapp/src/pages/Statistics.js
  webapp/src/pages/TheChallengeGame.js
  webapp/src/pages/WarmQuestionGame.js
  webapp/src/pages/WiseMenStackGame.js
Labels: users service👨🏼, webapp🌐, project📦

#307 Fix e2e tests
  multiplayer/index.js
  webapp/e2e/loginUtil.js
  webapp/e2e/steps/discoveringCitiesGame.steps.js
  webapp/e2e/steps/game.steps.js
  webapp/e2e/steps/wiseMenStackGame.steps.js
  webapp/e2e/test-environment-setup.js
  webapp/src/App.js
  webapp/src/pages/Profile.js
  webapp/src/pages/Statistics.js
Labels: bug🪲, testing🔧

#312 Including the avatar in the navbar.
  users/data/icons.js
  users/routes/auth-routes.js
  users/routes/user-routes.js
  webapp/src/SessionContext.js
  webapp/src/__tests__/pages/Login.test.js
  webapp/src/__tests__/pages/Profile.test.js
  webapp/src/__tests__/pages/Register.test.js
  webapp/src/components/NavBar.js
  webapp/src/data/icons.js
  webapp/src/localize/en.json
  webapp/src/localize/es.json
  webapp/src/localize/fr.json
  webapp/src/pages/GroupDetails.js
  webapp/src/pages/Groups.js
  webapp/src/pages/Login.js
  webapp/src/pages/Profile.js
  webapp/src/pages/Ranking.js
  webapp/src/pages/Register.js
  webapp/src/pages/Statistics.js
Labels: webapp🌐, project📦

#309 Solved pause bug after first round of a game
  webapp/src/pages/Game.js
Labels: bug🪲, webapp🌐

#315 Improving question generation for categories and testing it
  gatewayservice/monitoring/grafana/provisioning/dashboards/wiq-es04-dashboard.json
  gatewayservice/monitoring/prometheus/prometheus.yml
  questions/__tests/routes/question-routes.test.js
  questions/__tests/services/question-generation-service.test.js
  questions/routes/question-routes.js
  questions/services/question-data-service.js
  webapp/e2e/steps/discoveringCitiesGame.steps.js
  webapp/e2e/steps/game.steps.js
  webapp/e2e/steps/wiseMenStackGame.steps.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/data/gameInfo.json
Labels: question service❔, testing🔧

#317 Internationalization and end-to-end implementation of the challenge
  .github/workflows/build.yml
  webapp/e2e/features/theChallangeGame.feauture
  webapp/e2e/steps/theCallange.steps.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/__tests__/pages/Home.test.js
  webapp/src/__tests__/pages/Homepage.test.js
  webapp/src/__tests__/pages/Instructions.test.js
  webapp/src/__tests__/pages/Statistics.test.js
  webapp/src/__tests__/pages/TheChallengeGame.test.js
  webapp/src/data/gameInfo.json
  webapp/src/localize/en.json
  webapp/src/localize/es.json
  webapp/src/localize/fr.json
  webapp/src/pages/Home.js
  webapp/src/pages/Homepage.js
  webapp/src/pages/Instructions.js
  webapp/src/pages/Statistics.js
  webapp/src/pages/TheChallengeGame.js
Labels: project📦, testing🔧

#323 pabloYalberto work on style and format of the application
  webapp/e2e/features/discoveringCitiesGame.feature
  webapp/e2e/features/wiseMenStackGame.feature
  webapp/e2e/steps/discoveringCitiesGame.steps.js
  webapp/e2e/steps/wiseMenStackGame.steps.js
  webapp/src/App.js
  webapp/src/__tests__/pages/DiscoveringCitiesGame.test.js
  webapp/src/__tests__/pages/Game.test.js
  webapp/src/__tests__/pages/MultiplayerGame.test.js
  webapp/src/__tests__/pages/TheChallengeGame.test.js
  webapp/src/__tests__/pages/WarmQuestionGame.test.js
  webapp/src/__tests__/pages/WiseMenStackGame.test.js
  webapp/src/localize/en.json
  webapp/src/localize/es.json
  webapp/src/localize/fr.json
  webapp/src/pages/DiscoveringCitiesGame.js
  webapp/src/pages/Game.js
  webapp/src/pages/Homepage.js
  webapp/src/pages/Login.js
  webapp/src/pages/MultiplayerGame.js
  webapp/src/pages/MultiplayerRoom.js
  webapp/src/pages/Register.js
  webapp/src/pages/TheChallengeGame.js
  webapp/src/pages/WarmQuestionGame.js
  webapp/src/pages/WiseMenStackGame.js
Labels: webapp🌐, testing🔧

#321 Add button to download the Android apk
  webapp/src/components/Footer.js
  webapp/src/localize/en.json
  webapp/src/localize/es.json
  webapp/src/localize/fr.json
  webapp/src/pages/Home.js
Labels: webapp🌐

#331 Fixed bug when displaying statistics and implemented conditional redirection on home
  users/__tests/routes/user-routes.test.js
  users/routes/user-routes.js
  users/services/user-model.js
  webapp/src/pages/Home.js
  webapp/src/pages/games/TheChallengeGame.js
Labels: bug🪲, webapp🌐

#334 Integrating Backgrounds and their Testing
  webapp/src/__tests__/pages/GroupDetails.test.js
  webapp/src/__tests__/pages/Groups.test.js
  webapp/src/__tests__/pages/Ranking.test.js
  webapp/src/__tests__/pages/Statistics.test.js
  webapp/src/index.css
  webapp/src/pages/GroupDetails.js
  webapp/src/pages/Groups.js
  webapp/src/pages/Instructions.js
  webapp/src/pages/Ranking.js
  webapp/src/pages/Statistics.js
Labels: webapp🌐, testing🔧

#338 Improved in-room view extracting chat and making it responsive
  webapp/src/pages/games/MultiplayerRoom.js
Labels: webapp🌐

#343 Make chat adaptable to mobile devices
  webapp/src/pages/games/MultiplayerRoom.js
Labels: bug🪲, webapp🌐

#347 Delete question templates
  questions/utils/question.json
Labels: bug🪲

#348 Develop teresa
  gatewayservice/apis/questions-api.yaml
  gatewayservice/monitoring/grafana/provisioning/dashboards/wiq-es04-dashboard.json
  questions/services/generate-questions-service.js
  questions/services/wikidata-service.js
  questions/utils/question.json
  webapp/src/__tests__/pages/Profile.test.js
  webapp/src/data/icons.js
  webapp/src/localize/en.json
  webapp/src/localize/es.json
  webapp/src/localize/fr.json
  webapp/src/pages/Profile.js
  webapp/src/pages/games/TheChallengeGame.js
  webapp/src/pages/games/WiseMenStackGame.js
Labels: project📦

#350 Added users-api.yaml and fixed the challenge timmer bug
  gatewayservice/apis/users-api.yaml
  webapp/src/pages/games/TheChallengeGame.js
Labels: bug🪲, project📦

#351 Question service improvements
  questions/__tests/services/question-generation-service.test.js
  questions/services/generate-questions-service.js
  questions/services/question-data-service.js
  questions/services/wikidata-service.js
  questions/utils/question.json
Labels: question service❔

#354 Fixing errors
  webapp/e2e/steps/theCallange.steps.js
  webapp/src/pages/Statistics.js
  webapp/src/pages/games/TheChallengeGame.js
Labels: bug🪲

#356 Fix wise man stack timer
  webapp/src/__tests__/pages/games/WiseMenStackGame.test.js
  webapp/src/pages/games/WiseMenStackGame.js
Labels: bug🪲

#357 Deliverable v1.1: fixing bugs
  questions/utils/question.json
  webapp/src/__tests__/pages/games/WiseMenStackGame.test.js
  webapp/src/pages/games/WiseMenStackGame.js
Labels: project📦
